= simple_form_for @pin, html: { multipart: true , class: 'well' } do |f|
  %fieldset
    %legend= (params[:action]).capitalize + " Pin"

    - if @pin.errors.any?
      #errors
        %h2
        = pluralize(@pin.errors.count, "error")
        prevent this pin from saving
        %ul
          - @pin.errors.full_messages.each do |msg|
            %li= msg

    - if (params[:action]) == "edit"
      = image_tag @pin.image.url(:medium)
    = f.input :title
    = f.input :description
    = f.input :image, as: :file
    = f.button :submit, class: "btn btn-primary"

