!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wiki
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header' 
    .container
      .row
        .col-md-8
          - flash.each do |name,msg|
            = content_tag :div, msg, class: 'alert alert-info'
          = yield
        .col-md-4
          %ul.list-group
            %li= link_to "All article", root_path, class: "list-group-item"
            - Category.all.each do |category|
              %li= link_to category.name, articles_path(category: category.name, prova: "ciao"), class: "list-group-item"
